@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS Colors  */
:root {
  --background: theme(colors.neutralLight);
  --foreground: theme(colors.neutralDark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.neutralLight);
    --foreground: theme(colors.neutralDark);
  }
}

/* 기본 body 스타일 */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
